.card_container {
    color: var(--accent2);
    display: flex;
    margin: 0 auto;
    padding-inline: 3rem;
    padding-block: 2rem;
}

.main_img {
    display: block;
    border-radius: 10px;
    max-width: 60%;
    height: 500px;
}

.top_row {
    display: flex;
    align-items: center;
}

.top_row > .locationdot, .country {
    margin-right: 1rem;
}

.locationdot {
    color: var(--accent);
}

.card_info_container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
}
.dates {
    font-weight: bold;
}

.location {
    font-weight: bold;
}

.description {
    text-align: justify;
    font-weight: 100;
}