:root {
}

.card_container {
    display: flex;
    margin: 5rem;
}

.main_img {
    display: block;
    border-radius: 10px;
    max-width:25%;
    height: auto;
}

.top_row {
    display: flex;
    align-items: center;
}

.top_row > .locationdot, .country {
    margin-right: 1rem;
}

.card_info_container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
}

.description {
    text-align: justify;
}